<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lorenzobraghetto.cooptdm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.lorenzobraghetto.cooptdm.logic.CooperativaTerraDiMezzoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lorenzobraghetto.cooptdm.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lorenzobraghetto.cooptdm.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lorenzobraghetto.cooptdm.StruttureActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TranslucentActionBar" >
        </activity>

        <service android:name="com.lorenzobraghetto.cooptdm.logic.CoopTDMNewsService" >
        </service>

        <receiver android:name="com.lorenzobraghetto.cooptdm.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>